doctype html
html
  head
    style
      include style.css
  body
    ul
      a(href='/') Home
      a(href='/OurServices') OusServices
      a(href='/ContactUs') ContactUs
    .App 
      img(src='https://eitrawmaterials.eu/wp-content/uploads/2016/09/person-icon.png')
      .Info 
        h1 First Name : Mekki
        h1 Last Name : BAHRI
        h3 Address
        p 06, Rue Mohamed bjaoui, Metline, Bizert, Tunisie, 7034
        h3 Address Email
        p mekkibahri15@gmail.com