doctype html
html
  head
    style
      include style.css
  body
    ul
      a(href='/') Home
      a(href='/OurServices') OusServices
      a(href='/ContactUs') ContactUs
    h1 You can request my CV and all year-end projects and end-of-study projects by sending a request from the Contact Us portal